<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<label>
    Volume
    <input type="range" name="volume" id="volume" min="0" max="100" value="{{ volume }}" onchange="onChange()">
</label>
<script>
    function onChange() {
        var url = '{% url 'volume' %}';
        $.ajax({
            method: "POST",
            url: url,
            data: {
                volume: $('#volume').val()
            },
            success: function (data) {
                console.log(data);
            }
        });
    }
</script>
</body>
</html>