<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Beacon Valley - Service Discovery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="/static/bower_components/materialize/dist/css/materialize.min.css"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/bower_components/materialize/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/materialize/dist/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper orange darken-2 valign-wrapper">
        <h4 class="brand-logo center valign">Service Discovery</h4>
    </div>
</nav>
<div class="container">

    {% block body %}
    {% endblock %}
</div>
</body>
</html>
