{% extends 'base.html' %}
{% block body %}
    <style>
        button {
            margin-top: 15px;
            width: 70%;
            height: 200px;
        }
    </style>
    <div class="card-panel grey lighten-2">
        <h2 class="center grey-text text-darken-1">Print</h2>

        <form action="{% url 'print' %}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col m8">
                    <div class="file-field input-field">
                        <div class="btn orange darken-4">
                            <span>File</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <div class="col m4 valign-wrapper">
                    <button class="btn waves-effect waves-light orange darken-4 valign" type="submit" name="action">
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}